#NavBar.col-12.col-sm-9.align-self-center
  .row.mt-2.text-info.justify-content-around.pb-3.ml-0.mr-0.border-bottom.d-flex.align-items-center
    .col-
      %i.fas.fa-utensils.fa-2x.d-none.d-md-block.d-lg-block.text-dark.mb-2.ml-icon
      = link_to 'Tastemarkers'
    .col-
      %i.fas.fa-book.fa-2x.d-none.d-md-block.d-lg-block.text-dark.mb-2
      = link_to 'Blog'
    .col-
      %i.far.fa-clipboard.fa-2x.d-none.d-md-block.d-lg-block.text-dark.mb-2.ml-icon
      = link_to 'The A-List'
    .col-
      %i.fas.fa-share-square.fa-2x.d-none.d-md-block.d-lg-block.text-dark.mb-2.ml-icon
      = link_to 'Contribute'
    .col-
      %i.fas.fa-users.fa-2x.d-none.d-md-block.d-lg-block.text-dark.mb-2
      = link_to 'About'

#Logotype.col-12.col-sm-3
  .row.mt-3.justify-content-center
    = image_tag 'logo_hack.jpg', alt: '', height: '', width: '', class: 'rounded-circle logo-circular '

    